<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>WelcomeUser</servlet-name>
        <servlet-class>servlet.WelcomeUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmployee</servlet-name>
        <servlet-class>servlet.AddEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEmp</servlet-name>
        <servlet-class>servlet.DeleteEmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectEmp</servlet-name>
        <servlet-class>servlet.SelectEmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBConnector</servlet-name>
        <servlet-class>servlet.DBConnector</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WelcomeUser</servlet-name>
        <url-pattern>/WelcomeUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployee</servlet-name>
        <url-pattern>/AddEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEmp</servlet-name>
        <url-pattern>/DeleteEmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectEmp</servlet-name>
        <url-pattern>/SelectEmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBConnector</servlet-name>
        <url-pattern>/DBConnector</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
